.blob {
  position: relative;
  width: 300px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: aqua;
  background-image: url("./../../assets/icons/python.png");
  background-repeat: no-repeat;
  background-size: cover;
}