:root {
    --navbar-color : #EB7D0E;
}


#logo{
    height: 50px;
    /* width: 10px; */
    /* display: none; */
}

.navbar {
    background-color: var(--navbar-color);
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    
    & .links {
        float: right;
    }
}



.links > a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;    
    transition: color 300ms;
}

.links> a:hover{
    color: rgb(150, 150, 218);
}

#nav-icon{
    height: 52px;
    display: block;
    float: left;  
    aspect-ratio: 1 / 1;
    background-color: wheat;
    cursor: pointer;
}

.main-title{
    font-size: 150px;
    margin-left:15%;
    margin-top: 15vh;
    font-family:sans-serif;

}