:root {
    /* --navbar-color : #e9eef5; */
}


#logo{
    height: 50px;
    /* width: 10px; */
    /* display: none; */
}

.navbar {
    background-color: var(--navbar-color);
    overflow: hidden;
    
    
    & .links {
        float: right;
    }
}



.links > a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;    
    transition: color 300ms;
}

.links> a:hover{
    color: rgb(150, 150, 218);
}

#nav-icon{
    height: 52px;
    display: block;
    float: left;  
    aspect-ratio: 1 / 1;
    background-color: wheat;
    cursor: pointer;
}

.main-title{
    font-size: 150px;
    margin-left:15%;
    margin-top: 15vh;
    font-family:sans-serif;

}
/* a + a{
    padding: 100px; */
    /* margin-left: 10px; */
/* } */

/* .subheading{
    font-size: 100px;
    font-weight: 500;
}

#first-enter{
    animation: rise-in 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards;
}

#second-enter{
    animation: rise-in 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s forwards;
}


.main-name{
    font-size: 130px;
    font-weight: 500;
    position: relative;

    animation: rise-in 2000ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards;
}

@keyframes rise-in {
    0%{
        transform: translate(0, 0px);
    }
    100%{
        transform: translate(0, -10px);
    }
} */