*{
  box-sizing: border-box;

}

:root{
  --background: #001220;
  --primary: #98e6a1;
}

/* @font-face {
  font-family: BraunLinear;
  src: url("./../assets/fonts/braun-linear/BraunLinear-Medium.ttf");
} */

body{
  margin: 0px;
  /* background-color: var(--background); */
  /* font-family: 'Segoe UI',Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Braun Linear;
  font-weight: 500;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}